@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;

    font-family: 'Raleway', sans-serif;
}

#banner {
    width: 100vw;
    margin: 0;
    padding: 0;
}

#banner img {
    max-width: 100%;
    margin: 0;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
    justify-content: space-evenly;
    width: 100vw;

    background-color: #efddc9;
}

nav ul li {
    display: inline-block;
    padding: 1.5em;

    font-size: larger;
}

nav ul li a {
    text-decoration: none;
}


nav ul li:hover {
    background-color: #9ff6ed;
    cursor: pointer;
}

main {
    margin: 0 auto;
    padding: 0;
}