@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
    display: flex;
    flex-direction: column;

    font-family: 'Raleway', sans-serif;
}

#banner {
    width: 100vw;
}

#banner img {
    max-width: 100%;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
    justify-content: center;

    width: 100vw;
    height: 3.5em;

    background-color: #efddc9;
}

nav ul li {
    display: table;

    height: 100%;
}

nav ul li a {
    text-decoration: none;
    font-size: larger;
    padding: 0 2em;

    display: table-cell;
    vertical-align: middle;
}

nav ul li:hover {
    background-color: #9ff6ed;
    cursor: pointer;
}

main {
    margin: 0 auto;
    padding: 0;
}