body {
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
}

#banner {
    width: 100vw;
    margin: 0;
    padding: 0;
}

#banner img {
    max-width: 100%;
    margin: 0;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
    justify-content: space-evenly;
    width: 100vw;

    background-color: #efddc9;
}

nav ul li {
    display: inline-block;
    padding: 1.5em;
}