{% extends "base.html" %}

{% load static %}

{% block title %}Home{% endblock %}

{% block stylesheet %}
{% static 'svhome/index.css' %}
{% endblock %}

{% block content %}
<div class="container my-3">
    <p class="display-3">Follow Study Vibes Around the Internet!</p>
    <div class="card my-4">
        <div class="card-body">
            <h3 class="card-title"><i class="bi bi-youtube fs-2" style="color: red;"></i> <span class="mx-3">YouTube</span></h5>
            <p class="card-text fs-4">Find live as well as previous study with me streams on the Study Vibes YouTube channel.</p>
            <a href="https://www.youtube.com/c/StudyVibes" class="btn btn-primary">Subscribe</a>
        </div>
    </div>
    <div class="card my-4">
        <div class="card-body">
            <h3 class="card-title"><i class="bi bi-instagram fs-2" style="color: fuchsia;"></i><span class="mx-3">Instagram</span></h5>
            <p class="card-text fs-4">Cats, chemicals, and more!</p>
            <a href="https://www.instagram.com/thestudyvibes/" class="btn btn-primary">Follow</a>
        </div>
    </div>
    <div class="card my-4">
        <div class="card-body">
            <h3 class="card-title"><i class="bi bi-twitter fs-2" style="color: darkcyan;"></i><span class="mx-3">Twitter</span></h5>
            <p class="card-text fs-4">Catch up on the latest tweets by Study Vibes.</p>
            <a href="https://twitter.com/thestudyvibes" class="btn btn-primary">Follow</a>
        </div>
    </div>
    <div class="card my-4">
        <div class="card-body">
            <h3 class="card-title"><i class="bi bi-discord fs-2" style="color: lightskyblue;"></i><span class="mx-3">Discord</span></h5>
            <p class="card-text fs-4">Join the Study Vibes community on Discord and connect with like-minded people!</p>
            <a href="https://discord.gg/386XpUNx7D" class="btn btn-primary">Join</a>
        </div>
    </div>
</div>
{% endblock %}