{% extends "base.html" %}

{% load static %}

{% block title %}Home{% endblock %}

{% block stylesheet %}
{% static 'svhome/index.css' %}
{% endblock %}

{% block content %}
{% if tips %}
    <div class="container my-3" style="max-width: 500px;">
        <ul class="list-group list-group-flush">
            {% for t in tips %}
                <li class="list-group-item d-flex align-items-center">
                    <span class="badge bg-primary rounded-pill mx-3">{{ t.votes }}</span>
                    {{ t.text }}
                </li>
            {% endfor %}
        </ul>
    </div>
{% else %}
<div class="container">
    <p class="display-1">404! No tips available at this time &gt;_&lt;</p>
</div>
{% endif %}
{% endblock %}